.vs
/Database/bin/
/Database/obj/
/ApiDiflenHub/bin/
/ApiDiflenHub/obj/
/DbContext/bin/Debug/net6.0/DbContext.dll
/DbContext/bin/Debug/net6.0/DbContext.pdb
/DbContext/obj/Database.csproj.nuget.dgspec.json
/DbContext/obj/Database.csproj.nuget.g.props
/DbContext/obj/Database.csproj.nuget.g.targets
/DbContext/obj/DbContext.csproj.nuget.dgspec.json
/DbContext/obj/project.assets.json
/DbContext/obj/project.nuget.cache
/DbContext/obj/Debug/net6.0/Database.AssemblyInfo.cs
/DbContext/obj/Debug/net6.0/Database.AssemblyInfoInputs.cache
/DbContext/obj/Debug/net6.0/Database.assets.cache
/DbContext/obj/Debug/net6.0/Database.GeneratedMSBuildEditorConfig.editorconfig
/DbContext/obj/Debug/net6.0/Database.GlobalUsings.g.cs
/DbContext/obj/Debug/net6.0/DbContext.AssemblyInfo.cs
/DbContext/obj/Debug/net6.0/DbContext.AssemblyInfoInputs.cache
/DbContext/obj/Debug/net6.0/DbContext.dll
/DbContext/obj/Debug/net6.0/DbContext.pdb
/DbContext/obj/Debug/net6.0/DbContext.sourcelink.json
/DbContext/obj/Debug/net6.0/ref/DbContext.dll
/DbContext/obj/Debug/net6.0/refint/DbContext.dll
/Database/app.db-shm
/Database/app.db-wal
/Database/Migrations/20241005030413_InitialCreate.cs
/Database/Migrations/20241005030413_InitialCreate.Designer.cs
/Database/Migrations/AppDbContextModelSnapshot.cs
/DbContext/obj/DbContext.csproj.nuget.g.props
/DbContext/obj/DbContext.csproj.nuget.g.targets
/DbContext/bin/Debug/net6.0/DbContext.deps.json
/ApiDiflenHub/.config/dotnet-tools.json
/ApiDiflenHub/ApiDiflenHub.csproj.user
/ApiDiflenHub/Properties/PublishProfiles/FolderProfile.pubxml
/ApiDiflenHub/Properties/PublishProfiles/FolderProfile.pubxml.user
