.vs
/ApiDiflenHub/obj
/ApiDiflenHub/bin/Debug/net8.0
/Database/obj
/Database/bin/Debug/net8.0
/Services/bin/Debug/net8.0
/Services/obj
/ApiDiflenHub/bin/Debug/net6.0/ApiDiflenHub.deps.json
/ApiDiflenHub/bin/Debug/net6.0/ApiDiflenHub.dll
/ApiDiflenHub/bin/Debug/net6.0/ApiDiflenHub.exe
/ApiDiflenHub/bin/Debug/net6.0/ApiDiflenHub.pdb
/ApiDiflenHub/bin/Debug/net6.0/ApiDiflenHub.runtimeconfig.json
/ApiDiflenHub/bin/Debug/net6.0/ApiDiflenHub.staticwebassets.endpoints.json
/ApiDiflenHub/bin/Debug/net6.0/appsettings.Development.json
/ApiDiflenHub/bin/Debug/net6.0/appsettings.json
/ApiDiflenHub/bin/Debug/net6.0/DbContext.dll
/ApiDiflenHub/bin/Debug/net6.0/DbContext.pdb
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
/ApiDiflenHub/bin/Debug/net6.0/Microsoft.OpenApi.dll
/ApiDiflenHub/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/ApiDiflenHub/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/ApiDiflenHub/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/DbContext/bin/Debug/net6.0/DbContext.dll
/DbContext/bin/Debug/net6.0/DbContext.pdb
/DbContext/obj/Debug/net6.0/ref/DbContext.dll
/DbContext/obj/Debug/net6.0/DbContext.AssemblyInfo.cs
/DbContext/obj/Debug/net6.0/DbContext.AssemblyInfoInputs.cache
/DbContext/obj/Debug/net6.0/DbContext.dll
/DbContext/obj/Debug/net6.0/DbContext.pdb
/DbContext/obj/Debug/net6.0/DbContext.sourcelink.json
/DbContext/obj/Debug/net6.0/refint/DbContext.dll
