################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/DbContext/obj/
/ApiDiflenHub/bin/
/ApiDiflenHub/obj/Debug/net6.0/ApiDiflenHub.AssemblyInfo.cs
/ApiDiflenHub/obj/Debug/net6.0/ApiDiflenHub.AssemblyInfoInputs.cache
